In [1]:
import seaborn as sns
import pandas as pd
pd.set_option('display.max_colwidth',None)

In [2]:
from pathlib import Path

In [47]:
import eurostat

def load_df_raw_catalog():
    return eurostat.get_toc_df(lang = "en")

In [324]:
import re

from pandas.core.interchange.dataframe_protocol import DataFrame


def split_domain(code):
    match = re.match(r"^([A-Z]+?)([AQ])+(_)+(.*)",code)
    if match:
        return  match.group(1), match.group(2), match.group(4)
    return None, None, None

def convert_to_datetime(series):
    cleaned = series.astype('str').str.replace(r'([+-]\d{2}):(\d{2})', r'\1:\2', regex=True)
    return pd.to_datetime(cleaned, errors='coerce', utc=True)

def convert_object_to_category(df:DataFrame, threshold :int=5):
    description = df[df.select_dtypes('object')].describe()
    unique_counts = description.loc['unique']
    for column in unique_counts[unique_counts < threshold].index.tolist():
        df[column] = df[column].astype('category')
    return df

# Load and explore data

In [325]:
df_ds = load_df_raw_catalog()

In [326]:
df_ds.shape

(8031, 7)

In [327]:
df_ds.head()

,title,code,type,last update of data,last table structure change,data start,data end
0,Percentage of persons employed part-time by household composition,LFST_HHPTETY,dataset,2025-09-09T23:00:00+0200,2025-09-09T23:00:00+0200,2006,2024
1,Percentage of self-employed adults by number of children and age of youngest child,LFST_HHSECHI,dataset,2025-09-12T11:00:00+0200,2025-04-15T11:00:00+0200,2006,2024
2,Percentage of self-employed persons by household composition,LFST_HHSETY,dataset,2025-09-09T23:00:00+0200,2025-09-09T23:00:00+0200,2006,2024
3,Percentage of adult temporary employees by number of children and age of youngest child,LFST_HHTEMCHI,dataset,2025-09-12T11:00:00+0200,2025-04-15T11:00:00+0200,2006,2024
4,Percentage of temporary employees by household composition,LFST_HHTEMTY,dataset,2025-09-09T23:00:00+0200,2025-09-09T23:00:00+0200,2006,2024

In [328]:
df_ds.dtypes

title                          object
code                           object
type                           object
last update of data            object
last table structure change    object
data start                     object
data end                       object
dtype: object

In [329]:
df_ds.describe()

,title,code,type,last update of data,last table structure change,data start,data end
count,8031,8031,8031,8031,8031,7487,7487
unique,7497,8031,1,855,491,195,105
top,Individuals - internet activities,LFST_HHPTETY,dataset,2025-09-25T23:00:00+0200,2024-01-03T23:00:00+0100,2005,2024
freq,6,1,8031,688,1489,580,1891

### Remove not meaningful data

In [330]:
df_ds = df_ds.drop(columns='type')

## Set column data types

In [331]:
df_ds['title'] = df_ds['title'].astype('str')
df_ds['code'] = df_ds['code'].astype('str')
df_ds['last update of data'] = convert_to_datetime(df_ds['last update of data'])
df_ds['last table structure change'] = convert_to_datetime(df_ds['last table structure change'])

In [332]:
# official doc about values https://eurostat.github.io/restatapi/reference/get_eurostat_toc.html

In [333]:
df_ds[['start_year','start_quater']] = df_ds['data start'].str.split('-',n=1,expand=True)
df_ds[['end_year','end_quater']] = df_ds['data end'].str.split('-',n=1,expand=True)
df_ds['start_year'] = pd.to_numeric(df_ds['start_year'], errors='coerce')
df_ds['end_year'] = pd.to_numeric(df_ds['end_year'], errors='coerce')
df_ds = df_ds.drop(columns=['data start', 'data end'])

In [334]:
df_ds.describe(include = 'all')

,title,code,last update of data,last table structure change,start_year,start_quater,end_year,end_quater
count,8031,8031,8031,8031,7487.000000,724,7487.000000,830
unique,7497,8031,NaN,NaN,NaN,19,NaN,22
top,Individuals - internet activities,LFST_HHPTETY,NaN,NaN,NaN,Q1,NaN,Q2
freq,6,1,NaN,NaN,NaN,338,NaN,282
mean,NaN,NaN,2022-10-10 17:10:18.638401024+00:00,2024-10-15 00:40:18.862532608+00:00,2005.822225,NaN,2019.372779,NaN
min,NaN,NaN,2009-03-26 10:00:00+00:00,2018-12-13 12:00:00+00:00,1947.000000,NaN,1983.000000,NaN
25%,NaN,NaN,2022-02-04 22:00:00+00:00,2024-01-03 22:00:00+00:00,2000.000000,NaN,2017.000000,NaN
50%,NaN,NaN,2025-04-15 21:00:00+00:00,2025-01-27 22:00:00+00:00,2007.000000,NaN,2023.000000,NaN
75%,NaN,NaN,2025-09-11 21:00:00+00:00,2025-05-21 21:00:00+00:00,2014.000000,NaN,2024.000000,NaN
max,NaN,NaN,2025-09-29 21:00:00+00:00,2025-09-29 09:00:00+00:00,2025.000000,NaN,2100.000000,NaN
std,NaN,NaN,NaN,NaN,12.134611,NaN,8.632062,NaN

## Dataset cleanup  and relevance filtring

In [335]:
most_frequent = df_ds["title"].value_counts().reset_index()
titles = most_frequent.loc[most_frequent["count"]>1]["title"]
df_ds[df_ds['title'].isin(titles)].sort_values(by='title')

,title,code,last update of data,last table structure change,start_year,start_quater,end_year,end_quater
7399,"2014 - Number of employees by sex, economic activity and collective pay agreement",EARN_SES14_01$DV_351,2020-10-13 09:00:00+00:00,2024-06-07 21:00:00+00:00,NaN,None,NaN,None
7398,"2014 - Number of employees by sex, economic activity and collective pay agreement",EARN_SES14_01,2020-10-13 09:00:00+00:00,2024-06-07 21:00:00+00:00,2014.0,None,2014.0,None
7513,"2018 - Number of employees by sex, economic activity and collective pay agreement",EARN_SES18_01,2021-08-04 21:00:00+00:00,2024-01-03 22:00:00+00:00,2018.0,None,2018.0,None
7515,"2018 - Number of employees by sex, economic activity and collective pay agreement",EARN_SES18_01$DV_762,2021-08-04 21:00:00+00:00,2024-01-03 22:00:00+00:00,NaN,None,NaN,None
2920,Activities via internet not done because of security concerns (2010-2019),ISOC_CISCI_AX,2024-06-16 21:00:00+00:00,2024-01-03 22:00:00+00:00,2010.0,None,2019.0,None
...,...,...,...,...,...,...,...,...
4382,Young persons neither in employment nor in education and training by country of birth (NEET rates),EDAT_LFSE_28$DV_1849,2025-09-11 21:00:00+00:00,2025-04-14 21:00:00+00:00,NaN,None,NaN,None
4380,Young persons neither in employment nor in education and training by country of birth (NEET rates),EDAT_LFSE_28,2025-09-11 21:00:00+00:00,2025-04-14 21:00:00+00:00,2004.0,None,2024.0,None
4360,Young persons neither in employment nor in education and training by labour status (NEET rates),EDAT_LFSE_20$DV_1101,2025-09-11 21:00:00+00:00,2025-04-14 21:00:00+00:00,NaN,None,NaN,None
4362,Young persons neither in employment nor in education and training by labour status (NEET rates),EDAT_LFSE_20$DV_1807,2025-09-11 21:00:00+00:00,2025-04-14 21:00:00+00:00,NaN,None,NaN,None
4358,Young persons neither in employment nor in education and training by labour status (NEET rates),EDAT_LFSE_20,2025-09-11 21:00:00+00:00,2025-04-14 21:00:00+00:00,2000.0,None,2024.0,None

It looks like datasets with duplicates titles include at least one version that has a $DV suffix followed by number.
This indicates a derived veiw (or data variation), which is not relevant for the purpose of this project. 

Therefore, I will exclude these derived view from the list of available datasets.

In [336]:
df_ds[df_ds['code'].str.contains('\\$DV', na = False)]

,title,code,last update of data,last table structure change,start_year,start_quater,end_year,end_quater
6,Percentage of employed adults working from home by number of children and age of youngest child,LFST_HHWAHCHI$DV_1872,2025-09-12 09:00:00+00:00,2025-04-15 09:00:00+00:00,NaN,None,NaN,None
42,"Employment rates by educational attainment level, country of birth and degree of urbanisation",LFST_R_EREDCOBU$DV_617,2025-09-11 21:00:00+00:00,2025-04-14 21:00:00+00:00,NaN,None,NaN,None
311,"Current depressive symptoms by sex, age and country of birth",HLTH_EHIS_MH1B$DV_2106,2023-06-16 21:00:00+00:00,2024-01-03 22:00:00+00:00,NaN,None,NaN,None
315,"Current depressive symptoms by sex, age and country of citizenship",HLTH_EHIS_MH1C$DV_2107,2023-06-16 21:00:00+00:00,2024-01-03 22:00:00+00:00,NaN,None,NaN,None
320,"Current depressive symptoms by sex, age and educational attainment level",HLTH_EHIS_MH1E$DV_463,2023-06-16 21:00:00+00:00,2024-01-03 22:00:00+00:00,NaN,None,NaN,None
...,...,...,...,...,...,...,...,...
7712,Employer business demography by size class and NACE Rev. 2 activity,BD_SALGE1_SIZE$DV_2306,2025-09-23 09:00:00+00:00,2025-09-23 09:00:00+00:00,NaN,None,NaN,None
7715,Business demography by size class and NACE Rev. 2 activity,BD_SIZE$DV_1483,2025-09-12 21:00:00+00:00,2025-09-10 21:00:00+00:00,NaN,None,NaN,None
7716,Business demography by size class and NACE Rev. 2 activity,BD_SIZE$DV_1502,2025-09-12 21:00:00+00:00,2025-09-10 21:00:00+00:00,NaN,None,NaN,None
7717,Business demography by size class and NACE Rev. 2 activity,BD_SIZE$DV_2304,2025-09-12 21:00:00+00:00,2025-09-10 21:00:00+00:00,NaN,None,NaN,None
7741,International trade in services (since 2010) (BPM6),BOP_ITS6_DET$DV_347,2024-05-03 21:00:00+00:00,2024-05-03 21:00:00+00:00,NaN,None,NaN,None

In [337]:
df_ds = df_ds[~df_ds['code'].str.contains('\\$DV', na = False)]

Check for other duplicates titles

In [338]:
df_temp = df_ds.groupby(['title','start_year'])['code'].count().reset_index()
df_ds.loc[(df_ds["title"].isin(df_temp.loc[df_temp["code"]>1]['title'])&(df_ds["start_year"].isin(df_temp.loc[df_temp["code"]>1]['start_year'])))].sort_values(by='title')

,title,code,last update of data,last table structure change,start_year,start_quater,end_year,end_quater
3856,Aggregate replacement ratio for pensions (excluding other social benefits) by sex,TESPN070,2025-09-25 21:00:00+00:00,2025-01-27 22:00:00+00:00,2010.0,None,2024.0,None
2097,Aggregate replacement ratio for pensions (excluding other social benefits) by sex,ILC_PNP3,2025-09-25 21:00:00+00:00,2025-01-27 22:00:00+00:00,2010.0,None,2024.0,None
6181,At-risk-of-poverty rate before social transfers by sex - EU-SILC survey,TESOV250,2025-09-25 21:00:00+00:00,2025-01-27 22:00:00+00:00,2013.0,None,2024.0,None
3952,At-risk-of-poverty rate before social transfers by sex - EU-SILC survey,TESSI230,2025-09-25 21:00:00+00:00,2025-01-27 22:00:00+00:00,2013.0,None,2024.0,None
7437,Circular material use rate,SDG_12_41,2024-11-13 10:00:00+00:00,2025-08-08 21:00:00+00:00,2004.0,None,2023.0,None
7805,Circular material use rate,CEI_SRM030,2024-11-13 10:00:00+00:00,2025-08-08 21:00:00+00:00,2004.0,None,2023.0,None
5829,Circular material use rate,ENV_AC_CUR,2024-11-13 10:00:00+00:00,2025-08-08 21:00:00+00:00,2004.0,None,2023.0,None
7306,Early leavers from education and training by citizenship,SDG_04_10A,2025-09-11 21:00:00+00:00,2025-04-14 21:00:00+00:00,2004.0,None,2024.0,None
4326,Early leavers from education and training by citizenship,EDAT_LFSE_01,2025-09-11 21:00:00+00:00,2025-04-14 21:00:00+00:00,2004.0,None,2024.0,None
1227,"Gross domestic product (GDP) and main components (output, expenditure and income)",NAMQ_10_GDP,2025-09-29 09:00:00+00:00,2025-09-09 21:00:00+00:00,1975.0,Q1,2025.0,Q2
1197,"Gross domestic product (GDP) and main components (output, expenditure and income)",NAMA_10_GDP,2025-09-26 21:00:00+00:00,2025-09-09 21:00:00+00:00,1975.0,None,2024.0,None
1217,Gross value added and income by main industry (NACE Rev.2 ),NAMQ_10_A10,2025-09-29 09:00:00+00:00,2025-07-29 09:00:00+00:00,1975.0,Q1,2025.0,Q2
1168,Gross value added and income by main industry (NACE Rev.2 ),NAMA_10_A10,2025-09-26 21:00:00+00:00,2025-04-14 21:00:00+00:00,1975.0,None,2024.0,None
1696,House price index (2015 = 100) - quarterly data,PRC_HPI_Q,2025-07-04 09:00:00+00:00,2025-07-04 09:00:00+00:00,2005.0,Q1,2025.0,Q1
5213,House price index (2015 = 100) - quarterly data,EI_HPPI_Q,2025-07-04 09:00:00+00:00,2025-07-04 09:00:00+00:00,2005.0,Q1,2025.0,Q1
6094,Labour transitions from temporary to permanent contracts by sex -3-year average,TEPSR_WC230,2025-09-25 21:00:00+00:00,2025-01-27 22:00:00+00:00,2008.0,None,2024.0,None
3622,Labour transitions from temporary to permanent contracts by sex -3-year average,ILC_LVHL36,2025-09-25 21:00:00+00:00,2025-01-27 22:00:00+00:00,2008.0,None,2024.0,None
4131,Nights spent by duration of the trip,TIN00192,2025-02-27 22:00:00+00:00,2024-10-15 09:00:00+00:00,2012.0,None,2023.0,None
4536,Nights spent by duration of the trip,TOUR_DEM_TNLS,2025-02-27 22:00:00+00:00,2024-10-15 09:00:00+00:00,2012.0,None,2023.0,None
7430,Recycling rate of municipal waste,SDG_11_60,2025-02-13 10:00:00+00:00,2025-06-20 21:00:00+00:00,2000.0,None,2023.0,None
7808,Recycling rate of municipal waste,CEI_WM011,2025-02-13 10:00:00+00:00,2025-06-20 21:00:00+00:00,2000.0,None,2023.0,None
5956,Resource productivity,ENV_AC_RP,2025-07-04 21:00:00+00:00,2025-06-30 09:00:00+00:00,2000.0,None,2024.0,None
7796,Resource productivity,CEI_PC030,2025-07-04 21:00:00+00:00,2025-06-30 09:00:00+00:00,2000.0,None,2024.0,None
5509,Share of irrigable and irrigated areas in utilised agricultural area (UAA) by NUTS 2 region,TAI03,2024-01-03 22:00:00+00:00,2025-01-23 22:00:00+00:00,2005.0,None,2016.0,None
6939,Share of irrigable and irrigated areas in utilised agricultural area (UAA) by NUTS 2 region,AEI_EF_IR,2019-03-11 22:00:00+00:00,2024-01-10 10:00:00+00:00,2005.0,None,2016.0,None
6943,Share of main land types in utilised agricultural area (UAA) by NUTS 2 region,AEI_EF_LU,2018-11-14 22:00:00+00:00,2024-01-10 10:00:00+00:00,2005.0,None,2016.0,None
5511,Share of main land types in utilised agricultural area (UAA) by NUTS 2 region,TAI05,2024-01-03 22:00:00+00:00,2025-01-23 22:00:00+00:00,2005.0,None,2016.0,None
5513,Share of main livestock types in total livestock units (LSU) by NUTS 2 region,TAI06,2024-01-03 22:00:00+00:00,2025-01-23 22:00:00+00:00,2005.0,None,2016.0,None
6941,Share of main livestock types in total livestock units (LSU) by NUTS 2 region,AEI_EF_LS,2019-02-05 22:00:00+00:00,2024-01-10 10:00:00+00:00,2005.0,None,2016.0,None
4127,Trips by detailed country/world region of main destination,TIN00190,2025-02-27 22:00:00+00:00,2024-10-15 09:00:00+00:00,2012.0,None,2023.0,None
4608,Trips by detailed country/world region of main destination,TOUR_DEM_TTW,2025-02-27 22:00:00+00:00,2024-10-15 09:00:00+00:00,2012.0,None,2023.0,None
4588,Trips by duration of the trip,TOUR_DEM_TTLS,2025-02-27 22:00:00+00:00,2024-10-15 09:00:00+00:00,2012.0,None,2023.0,None
4125,Trips by duration of the trip,TIN00189,2025-02-27 22:00:00+00:00,2024-10-15 09:00:00+00:00,2012.0,None,2023.0,None
4591,Trips by purpose,TOUR_DEM_TTPUR,2025-02-27 22:00:00+00:00,2024-10-15 09:00:00+00:00,2012.0,None,2023.0,None
4123,Trips by purpose,TIN00188,2025-02-27 22:00:00+00:00,2024-10-15 09:00:00+00:00,2012.0,None,2023.0,None

There are two types of naming:
1. {domain}{period}_{specific area} as an example Gross domestic product (GDP) and main components (output, expenditure and income) = NAM
    1. NAM*A*_10_GDP =  A for *Annual*
    2. NAMQ_10_GDP = Q for *Quater*
3. {domain}{number}, as example TIPSII40 = International investment position (tipsii) + number

In [339]:
df_ds[['ds_name','period','domain']] = df_ds['code'].apply(split_domain).apply(pd.Series)

In [340]:
# mark as quater ds that have start quater
df_ds['period'] = df_ds.apply(lambda row: 'A' if pd.isna(row.start_quater) else 'Q',axis=1)

In [341]:
df_ds['period'] = df_ds['period'].astype('category')
df_ds.loc[(df_ds["title"].isin(df_temp.loc[df_temp["code"]>1]['title'])&(df_ds["start_year"].isin(df_temp.loc[df_temp["code"]>1]['start_year'])))].sort_values(by='title')

,title,code,last update of data,last table structure change,start_year,start_quater,end_year,end_quater,ds_name,period,domain
3856,Aggregate replacement ratio for pensions (excluding other social benefits) by sex,TESPN070,2025-09-25 21:00:00+00:00,2025-01-27 22:00:00+00:00,2010.0,None,2024.0,None,None,A,None
2097,Aggregate replacement ratio for pensions (excluding other social benefits) by sex,ILC_PNP3,2025-09-25 21:00:00+00:00,2025-01-27 22:00:00+00:00,2010.0,None,2024.0,None,None,A,None
6181,At-risk-of-poverty rate before social transfers by sex - EU-SILC survey,TESOV250,2025-09-25 21:00:00+00:00,2025-01-27 22:00:00+00:00,2013.0,None,2024.0,None,None,A,None
3952,At-risk-of-poverty rate before social transfers by sex - EU-SILC survey,TESSI230,2025-09-25 21:00:00+00:00,2025-01-27 22:00:00+00:00,2013.0,None,2024.0,None,None,A,None
7437,Circular material use rate,SDG_12_41,2024-11-13 10:00:00+00:00,2025-08-08 21:00:00+00:00,2004.0,None,2023.0,None,None,A,None
7805,Circular material use rate,CEI_SRM030,2024-11-13 10:00:00+00:00,2025-08-08 21:00:00+00:00,2004.0,None,2023.0,None,None,A,None
5829,Circular material use rate,ENV_AC_CUR,2024-11-13 10:00:00+00:00,2025-08-08 21:00:00+00:00,2004.0,None,2023.0,None,None,A,None
7306,Early leavers from education and training by citizenship,SDG_04_10A,2025-09-11 21:00:00+00:00,2025-04-14 21:00:00+00:00,2004.0,None,2024.0,None,None,A,None
4326,Early leavers from education and training by citizenship,EDAT_LFSE_01,2025-09-11 21:00:00+00:00,2025-04-14 21:00:00+00:00,2004.0,None,2024.0,None,None,A,None
1227,"Gross domestic product (GDP) and main components (output, expenditure and income)",NAMQ_10_GDP,2025-09-29 09:00:00+00:00,2025-09-09 21:00:00+00:00,1975.0,Q1,2025.0,Q2,NAM,Q,10_GDP
1197,"Gross domestic product (GDP) and main components (output, expenditure and income)",NAMA_10_GDP,2025-09-26 21:00:00+00:00,2025-09-09 21:00:00+00:00,1975.0,None,2024.0,None,NAM,A,10_GDP
1217,Gross value added and income by main industry (NACE Rev.2 ),NAMQ_10_A10,2025-09-29 09:00:00+00:00,2025-07-29 09:00:00+00:00,1975.0,Q1,2025.0,Q2,NAM,Q,10_A10
1168,Gross value added and income by main industry (NACE Rev.2 ),NAMA_10_A10,2025-09-26 21:00:00+00:00,2025-04-14 21:00:00+00:00,1975.0,None,2024.0,None,NAM,A,10_A10
1696,House price index (2015 = 100) - quarterly data,PRC_HPI_Q,2025-07-04 09:00:00+00:00,2025-07-04 09:00:00+00:00,2005.0,Q1,2025.0,Q1,None,Q,None
5213,House price index (2015 = 100) - quarterly data,EI_HPPI_Q,2025-07-04 09:00:00+00:00,2025-07-04 09:00:00+00:00,2005.0,Q1,2025.0,Q1,None,Q,None
6094,Labour transitions from temporary to permanent contracts by sex -3-year average,TEPSR_WC230,2025-09-25 21:00:00+00:00,2025-01-27 22:00:00+00:00,2008.0,None,2024.0,None,None,A,None
3622,Labour transitions from temporary to permanent contracts by sex -3-year average,ILC_LVHL36,2025-09-25 21:00:00+00:00,2025-01-27 22:00:00+00:00,2008.0,None,2024.0,None,None,A,None
4131,Nights spent by duration of the trip,TIN00192,2025-02-27 22:00:00+00:00,2024-10-15 09:00:00+00:00,2012.0,None,2023.0,None,None,A,None
4536,Nights spent by duration of the trip,TOUR_DEM_TNLS,2025-02-27 22:00:00+00:00,2024-10-15 09:00:00+00:00,2012.0,None,2023.0,None,None,A,None
7430,Recycling rate of municipal waste,SDG_11_60,2025-02-13 10:00:00+00:00,2025-06-20 21:00:00+00:00,2000.0,None,2023.0,None,None,A,None
7808,Recycling rate of municipal waste,CEI_WM011,2025-02-13 10:00:00+00:00,2025-06-20 21:00:00+00:00,2000.0,None,2023.0,None,None,A,None
5956,Resource productivity,ENV_AC_RP,2025-07-04 21:00:00+00:00,2025-06-30 09:00:00+00:00,2000.0,None,2024.0,None,None,A,None
7796,Resource productivity,CEI_PC030,2025-07-04 21:00:00+00:00,2025-06-30 09:00:00+00:00,2000.0,None,2024.0,None,None,A,None
5509,Share of irrigable and irrigated areas in utilised agricultural area (UAA) by NUTS 2 region,TAI03,2024-01-03 22:00:00+00:00,2025-01-23 22:00:00+00:00,2005.0,None,2016.0,None,None,A,None
6939,Share of irrigable and irrigated areas in utilised agricultural area (UAA) by NUTS 2 region,AEI_EF_IR,2019-03-11 22:00:00+00:00,2024-01-10 10:00:00+00:00,2005.0,None,2016.0,None,None,A,None
6943,Share of main land types in utilised agricultural area (UAA) by NUTS 2 region,AEI_EF_LU,2018-11-14 22:00:00+00:00,2024-01-10 10:00:00+00:00,2005.0,None,2016.0,None,None,A,None
5511,Share of main land types in utilised agricultural area (UAA) by NUTS 2 region,TAI05,2024-01-03 22:00:00+00:00,2025-01-23 22:00:00+00:00,2005.0,None,2016.0,None,None,A,None
5513,Share of main livestock types in total livestock units (LSU) by NUTS 2 region,TAI06,2024-01-03 22:00:00+00:00,2025-01-23 22:00:00+00:00,2005.0,None,2016.0,None,None,A,None
6941,Share of main livestock types in total livestock units (LSU) by NUTS 2 region,AEI_EF_LS,2019-02-05 22:00:00+00:00,2024-01-10 10:00:00+00:00,2005.0,None,2016.0,None,None,A,None
4127,Trips by detailed country/world region of main destination,TIN00190,2025-02-27 22:00:00+00:00,2024-10-15 09:00:00+00:00,2012.0,None,2023.0,None,None,A,None
4608,Trips by detailed country/world region of main destination,TOUR_DEM_TTW,2025-02-27 22:00:00+00:00,2024-10-15 09:00:00+00:00,2012.0,None,2023.0,None,None,A,None
4588,Trips by duration of the trip,TOUR_DEM_TTLS,2025-02-27 22:00:00+00:00,2024-10-15 09:00:00+00:00,2012.0,None,2023.0,None,None,A,None
4125,Trips by duration of the trip,TIN00189,2025-02-27 22:00:00+00:00,2024-10-15 09:00:00+00:00,2012.0,None,2023.0,None,None,A,None
4591,Trips by purpose,TOUR_DEM_TTPUR,2025-02-27 22:00:00+00:00,2024-10-15 09:00:00+00:00,2012.0,None,2023.0,None,None,A,None
4123,Trips by purpose,TIN00188,2025-02-27 22:00:00+00:00,2024-10-15 09:00:00+00:00,2012.0,None,2023.0,None,None,A,None

Duplicate dataset titles are still present, indicating that further analysis is needed to fully resolve and filter out all redundant entries.
So code is going to be used as a key.

In [342]:
df_ds.describe(include='all')

,title,code,last update of data,last table structure change,start_year,start_quater,end_year,end_quater,ds_name,period,domain
count,7580,7580,7580,7580,7487.000000,724,7487.000000,830,411,7580,411
unique,7497,7580,NaN,NaN,NaN,19,NaN,22,8,2,313
top,House price index (2015 = 100) - quarterly data,LFST_HHPTETY,NaN,NaN,NaN,Q1,NaN,Q2,LFS,A,10_F_BS
freq,3,1,NaN,NaN,NaN,338,NaN,282,212,6856,4
mean,NaN,NaN,2022-09-01 18:10:34.549472256+00:00,2024-10-16 02:35:03.520448512+00:00,2005.822225,NaN,2019.372779,NaN,NaN,NaN,NaN
min,NaN,NaN,2009-03-26 10:00:00+00:00,2018-12-13 12:00:00+00:00,1947.000000,NaN,1983.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,2021-11-18 16:00:00+00:00,2024-01-03 22:00:00+00:00,2000.000000,NaN,2017.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,2025-04-15 21:00:00+00:00,2025-01-27 22:00:00+00:00,2007.000000,NaN,2023.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,2025-09-11 21:00:00+00:00,2025-05-23 03:00:00+00:00,2014.000000,NaN,2024.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,2025-09-29 21:00:00+00:00,2025-09-29 09:00:00+00:00,2025.000000,NaN,2100.000000,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,12.134611,NaN,8.632062,NaN,NaN,NaN,NaN

# Check na values

In [343]:
(df_ds.isna().sum()/len(df_ds))*100

title                           0.000000
code                            0.000000
last update of data             0.000000
last table structure change     0.000000
start_year                      1.226913
start_quater                   90.448549
end_year                        1.226913
end_quater                     89.050132
ds_name                        94.577836
period                          0.000000
domain                         94.577836
dtype: float64

In [344]:
df_ds.isna().value_counts()

title  code   last update of data  last table structure change  start_year  start_quater  end_year  end_quater  ds_name  period  domain
False  False  False                False                        False       True          False     True        True     False   True      6444
                                                                            False         False     False       True     False   True       624
                                                                            True          False     True        False    False   False      213
                                                                            False         False     False       False    False   False      100
                                                                            True          False     False       False    False   False       98
                                                                True        True          True      True        True     False   True        93
                                                                False       True          False     False       True     False   True         8
Name: count, dtype: int64

In [345]:
# domain and ds_name does not look useful, because most datasets are not follow that conversation

In [346]:
df_ds = df_ds.drop(columns=["ds_name","domain"])

In [347]:
df_ds.isna().value_counts()

title  code   last update of data  last table structure change  start_year  start_quater  end_year  end_quater  period
False  False  False                False                        False       True          False     True        False     6657
                                                                            False         False     False       False      724
                                                                            True          False     False       False      106
                                                                True        True          True      True        False       93
Name: count, dtype: int64

In [348]:
# then not all datasets have start year
df_ds[df_ds["start_year"].isna()]
# ALl of them has no dates 
df_ds[(df_ds["start_year"].isna())&(df_ds["end_year"].isna())]
# so they derived from original source with lates data 
# for example, env_wat_ltaa is ENV_WAT_RES for current year
# Change period type for them = ytd ~ year to date
df_ds["period"] = df_ds.apply(lambda x: 'ytd' if pd.isna(x["start_year"]) else x["period"], axis=1)
df_ds["start_year"] = df_ds.apply(lambda x: x["last update of data"].year, axis=1)
df_ds["end_year"] = df_ds.apply(lambda x: x["last update of data"].year, axis=1)

In [349]:
df_ds.isna().value_counts()

title  code   last update of data  last table structure change  start_year  start_quater  end_year  end_quater  period
False  False  False                False                        False       True          False     True        False     6750
                                                                            False         False     False       False      724
                                                                            True          False     False       False      106
Name: count, dtype: int64

In [353]:
all_without_start_period = df_ds[(df_ds["start_quater"].isna())].count().iloc[0]
all_without_start_period_annual = df_ds[(df_ds["start_quater"].isna())&(df_ds['period']=="A")].count().iloc[0]
if all_without_start_period == all_without_start_period_annual:
    print(f"All missing quaters are because of the annual statistics")
else:
    print(f"Only {all_without_start_period_annual} of {all_without_start_period} missed start period because of annual statistics")

Only 6763 of 6856 missed start period because of annual statistics

In [356]:
# all of them ytd?
all_without_start_period_ytd = df_ds[(df_ds["start_quater"].isna())&(df_ds['period']=="ytd")].count().iloc[0]
if all_without_start_period == all_without_start_period_annual + all_without_start_period_ytd:
    print(f"All missing quaters are because of the annual statistics")

All missing quaters are because of the annual statistics

In [357]:
df_ds["start_quater"] = df_ds["start_quater"].fillna('Q1')

In [ ]:
# so simular quation for ytd

In [363]:
df_ds["end_quater"] = df_ds.apply(lambda row: 'Q4' if row["period"]=='A' else "Q" + str(row["last update of data"].quarter) , axis =1)

In [364]:
df_ds.isna().value_counts()

title  code   last update of data  last table structure change  start_year  start_quater  end_year  end_quater  period
False  False  False                False                        False       False         False     False       False     7580
Name: count, dtype: int64

In [366]:
df_ds[(df_ds['period']=="ytd")]

,title,code,last update of data,last table structure change,start_year,start_quater,end_year,end_quater,period
5986,Water resources: long-term annual average,TEN00001,2025-08-01 21:00:00+00:00,2025-07-30 21:00:00+00:00,2025,Q1,2025,Q3,ytd
6097,Renewable freshwater resources - long term annual averages,ENV_WAT_LTAA,2025-08-01 21:00:00+00:00,2025-07-30 21:00:00+00:00,2025,Q1,2025,Q3,ytd
7929,International trade of EU and non-EU countries since 2002 by SITC,DS-059331,2025-09-15 09:00:00+00:00,2025-09-15 09:00:00+00:00,2025,Q1,2025,Q3,ytd
7930,Total production,DS-056121,2025-07-24 09:00:00+00:00,2025-07-24 09:00:00+00:00,2025,Q1,2025,Q3,ytd
7931,EU trade since 2017 by BEC/rev.5,DS-059329,2025-09-15 09:00:00+00:00,2025-09-15 09:00:00+00:00,2025,Q1,2025,Q3,ytd
...,...,...,...,...,...,...,...,...,...
8025,Prices of letter mail and parcel services (USP under direct or indirect designation),POST_CUBE1_X$POST_PRI_1,2025-04-15 12:44:56+00:00,2025-04-15 12:44:56+00:00,2025,Q1,2025,Q2,ytd
8026,"Postal services falling under the universal service obligation (USP under direct or indirect designation, traffic)",POST_CUBE1_X$USO701,2025-04-15 12:44:56+00:00,2025-04-15 12:44:56+00:00,2025,Q1,2025,Q2,ytd
8028,Number of enterprises providing postal services,POST_CUBE1_X$NUM701,2025-04-15 12:44:56+00:00,2025-04-15 12:44:56+00:00,2025,Q1,2025,Q2,ytd
8029,Access points (USP under direct or indirect designation ),POST_CUBE1_X$POST_ACC_1,2025-04-15 12:44:56+00:00,2025-04-15 12:44:56+00:00,2025,Q1,2025,Q2,ytd
8030,"Domestic postal traffic, letter mail and parcel services",POST_CUBE1_X$POST_DTR_1,2025-04-15 12:44:56+00:00,2025-04-15 12:44:56+00:00,2025,Q1,2025,Q2,ytd